.repl_history
.rm-*-env
build
tags
app/pixate_code.rb
resources/*.nib
resources/*.momd
resources/*.storyboardc
vendor/Pods/*
*.a
*.pch
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
.dat*.*
.irb-history
.repl_history
ib.xcode*
doc
.yardoc
screenshot_*.png
*.o
build-iPhoneOS/
build-iPhoneSimulator/
